[submodule "mira/thirdparty/albumentations"]
	path = mira/thirdparty/albumentations
	url = https://github.com/albumentations-team/albumentations.git
	ignore = all
[submodule "mira/thirdparty/smp"]
	path = mira/thirdparty/smp
	url = https://github.com/qubvel/segmentation_models.pytorch.git
	ignore = all
[submodule "mira/thirdparty/clip"]
	path = mira/thirdparty/clip
	url = https://github.com/openai/CLIP.git
