[submodule "mira/thirdparty/albumentations"]
	path = mira/thirdparty/albumentations
	url = git@github.com:albumentations-team/albumentations.git
[submodule "mira/thirdparty/smp"]
	path = mira/thirdparty/smp
	url = git@github.com:qubvel/segmentation_models.pytorch.git
