[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ipython = "*"
jupyterlab = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
yapf = "*"
sphinx-autodoc-typehints = "*"
sphinx-autobuild = "*"
sphinx = "*"
m2r = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-mermaid = "*"

[packages]
tensorflow = "*"
mira = {editable = true,path = "."}
opencv-contrib-python = "*"
