sphinx-autodoc-typehints==1.12.0
sphinx-autobuild==2021.3.14
sphinx==3.5.4
sphinx_rtd_theme==0.5.2
m2r2==0.2.7
sphinxcontrib-mermaid
opencv-contrib-python-headless
tqdm
torch
torchvision
albumentations
mistune<2
timm
